:root {
  --sn-stylekit-font-size-editor: 1rem;
  --sn-stylekit-editor-background-color: #fefefe;
  --sn-stylekit-editor-foreground-color: #222222;
  --sn-stylekit-paragraph-text-color: #222222;
  --sn-stylekit-monospace-font: 'Source Code Pro Medium', monospace !important;
}

"dock_icon": {
  "type": "circle",
  "background_color": "#222222",
  "foreground_color": "#ffffff",
  "border_color": "#222222"
}


