:root {
  --sn-stylekit-font-size-editor: 1rem;
  --sn-stylekit-editor-background-color: #fefefe;
  --sn-stylekit-editor-foreground-color: #333333;
  --sn-stylekit-paragraph-text-color: #333333;
  --sn-stylekit-monospace-font: 'Source Code Pro Medium', monospace !important;
}

