:root {
  --sn-stylekit-editor-background-color: blue;
  --sn-stylekit-monospace-font: "Source Code Pro Medium", monospace;
  --sn-stylekit-editor-font-family: "Source Code Pro Medium", monospace;
}

